body{
    background-image: linear-gradient(  #444444 0%, #CCCCCC 40%, #AAAAAA 100%);
}
.profile-section {
    padding-top: 70px; 
}
.profile{
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    margin-top: 20px;
    
}
.profileImage {
    width: 200px;
}
.namaAwal{
    color: #222;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.namaAkhir{
    color: #000;
    font-size: 30px;
}
.biodata{
    background-image: linear-gradient(  #ffffff 0%, #ffffffe1 40%, hsla(0, 0%, 100%, 0) 100%);
    padding-bottom: 150px;
    padding-top: 100px;
    animation: fade-in 1s forwards;
    @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      animation: fade-out 1s forwards;
      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }
}


.Achievement{
    padding-top: 100px;
    animation: fade-in 1s forwards;
    @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      animation: fade-out 1s forwards;
      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }
}
.container_ACHIEVEMENT{
    margin-bottom: 50px;
}

.Footer{
   background-color: #ffffff;
   padding-bottom: 50px;
    padding-top: 100px;
    animation: fade-in 1s forwards;
    @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      animation: fade-out 1s forwards;
      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }
}

.contact a{
    color: black;
    font-size: 20px;
}

.instagram{
    margin-left: 50px;
    padding-bottom: 15px;
    text-decoration: none;
    list-style-type: none;
}
.animated {
    animation: fade-in 1s forwards;
  }

.TextContent{
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #212529;
}
.TextContent a :hover{
  font-size: 24;
  margin-top: -10;
  transition:  0.5s;
  transition-delay: 0.2s;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  flex: 1;
}

.Project{
  margin-bottom: 50px;
  font-size: 70px;
}
.nav-link :hover{
  transition:  0.5s;
  transition-delay: 0.2s;
}
.img-fluid2{
  width: 270px;
  border-radius: 20px;
}